/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body Styles */
body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: fit-content;
    background-color: gainsboro;
    border: 1px solid black;
}

/* Resume Header Styles*/
#resume-header {
    height: 100%;
    background-color: gainsboro;
    border: 1px solid black;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#resume-header div {
    margin: 0 20px;
}

#headshot {
    border-radius: 50%;
    border: 2px solid black;
    min-height: 250px;
    min-width: 250px;
}

#resume-header>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resume-header>div:last-child>* {
    margin: 3px 0px;
}

#resume-header h2 {
    color: rgb(37 99 235/var(--tw-text-opacity,1));
    font-size: 2rem;
    font-weight: 700;
}

#educ-section {
    height: 100%;
    background-color: gainsboro;
    border: 1px solid black;
}

#exp-section {
    height: 100%;
    background-color: gainsboro;
    border: 1px solid black;
}

#skills-section {
    height: 100%;
    background-color: gainsboro;
    border: 1px solid black;
}

#projects-section {
    height: 100%;
    background-color: gainsboro;
    border: 1px solid black;
}